<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

</style>


<div class="m-auto" style="width:520px;">
    <div id="orderform">
        <select class="form-control-sm" id="webselect" v-model="web" v-on:change="formchange()" name="Gsheet"> 
　<option value="yahoo">雅虎</option>
　<option value="pchomet">PC梓</option>
　<option value="pchomed">PC大</option>
　<option value="shopee">蝦皮</option>
　<option value="ruten">露天</option>
　<option value="songuo">松果</option></select>
        <select id="GsheetCol" class="form-control-sm" v-model="gsheetcol"> 
　<option value="K">K</option>
　<option value="L">L</option>
　<option value="M">M</option>
　<option value="N">N</option></select>
        <!--    選擇後自動隱藏不要的input-->
        <br>
        <input class="form-control-sm" v-if="orderID_display" type="search" style="width:140px;" v-model="orderID" placeholder="訂單編號">
        <input class="form-control-sm" v-if="orderAccount_display" type="search" style="width:110px;" v-model="orderAccount" placeholder="帳號"><br>
        <input class="form-control-sm" type="search" v-model="orderCustomer" style="width:80px;" placeholder="姓名">
        <input class="form-control-sm" type="search" v-model="orderTel" style="width:120px;" placeholder="電話"><br>
        <input class="form-control-sm" v-if="orderDiscount_display" type="number" style="width:50px;" v-model="orderDiscount" placeholder="折扣">
        <input class="form-control-sm" v-if="SGCdisplay" type="number" style="width:65px;" v-model="orderFee" placeholder="手續費">
        <br v-if="ifallnon">
        <select class="form-control-sm" v-model="orderShip" v-if="!SGCdisplay"> 
　<option value="7-11">7-11</option>
　<option value="全家">全家</option>
　<option value="新竹">新竹</option>
　<option value="神行">神行</option>
　<option value="大榮">大榮</option>
　<option value="萊爾富">萊爾富</option>
　<option value="OK Mart">OK</option></select>
        <input class="form-control-sm" type="number" v-if="!SGCdisplay" style="width:35px;" v-model="orderShipPrice" placeholder="運費"><br v-if="!SGCdisplay">
        <span>訂單金額:{{orderPrice}}</span><span style="padding-left:10px;" v-if="orderFeeCredit_display"><input type="checkbox" value="Y" v-model="orderFeeCredit">信用卡付款</span>
        <span v-if="SGCdisplay"><br><input type="number" class="form-control-sm" style="width:55px;" v-model="SGPrice" placeholder="價格">元<input class="form-control-sm" type="number" style="margin-left:10px;width:35px;" v-model="SGcount" placeholder="幾">入×<input class="form-control-sm" type="number" style="width:28px;" v-model="SGcountC"></span>

    </div>
    <div id="productlist" @click="splitpaste">
        <section style="padding-top:10px;" is="product-input" :comp_id="pdt.id" v-for="pdt in products"></section>

        <!--            自動新增新的商品蘭 發票欄位???-->
        <!--            可互算-->
        <!--            處理google write →新增出貨紀錄→扣數量-->
        <!--            回傳商品剩餘數量-->
        <!--            出現刪除訂單紐及下一筆案紐 可以刪除剛剛新增的訂單，下一筆按鈕可以清除輸入框及隱藏刪除訂單按鈕、下一筆按鈕-->

    </div>
    <div id="buttonEvent" class="mt-2">
        <button class="btn btn-sm" id="ordersubmit" @click="submitOrder" disabled="disabled">送出</button>
        <button class="btn btn-sm" id="orderdel" @click="delOreder" disabled="disabled">刪除</button>
        <button class="btn btn-sm" id="orderclear" @click="nextOrder">下一筆</button>
    </div>

</div>






<footer>

    <script src="jsfunction.js"></script>


</footer>
