<style>
    input[type=date]::-webkit-inner-spin-button { visibility: hidden; }
    input[type=date]::-webkit-clear-button {display: none;}
    @media print {
        button,.odrchkbox {
            display: none !important;
        }
        .oprice {
            background-color: #eee !important;
            -webkit-print-color-adjust: exact;
        }
    }

</style>

<div id="printOrder" class="m-auto" style="width:1200px;">
    <div class="mb-2 d-flex justify-content-center">
        <button class="btn btn-outline-secondary" @click="applychk">勾選隱藏</button>
        <button class="btn btn-outline-secondary" @click="allshow">全部顯示</button>
        <button class="btn btn-outline-secondary" @click="doit('yahoot')">雅虎梓原</button>
        <button class="btn btn-outline-secondary" @click="doit('yahoo')">雅虎大航家</button>
        <button class="btn btn-outline-secondary" @click="doit('shopee')">蝦皮</button>
        <button class="btn btn-outline-secondary" @click="doit('shopee_big')">蝦皮-大航家</button>
        <button class="btn btn-outline-secondary" @click="doit('pchomet')">PC梓原</button>
        <button class="btn btn-outline-secondary" @click="doit('Ruten')">露天</button>
        <button class="btn btn-outline-secondary" @click="doit('songuo')">松果</button>
        <button class="btn btn-outline-secondary" @click="doit('buy123')">生活</button>
        <button class="btn btn-outline-secondary" @click="doit('LINE')">Line</button>
        <button class="btn btn-outline-secondary" @click="doit('Facebook')">臉書</button>
        <input class="odrchkbox form-control-sm" v-model="rdate" type="date">
    </div>
    <div v-if="ov.applychkdisplay" v-for="(ov,oindex) in allorder" class="" style="border:3px solid #000;font-size: 24px; width:1200px;page-break-inside:avoid;margin-bottom:20px;padding-bottom:10px;">

        <input v-model="ov.chkdisplay" style="position: absolute;" type="checkbox" class="odrchkbox" value="chked" />
        <div class="d-flex" style="border-bottom: 1px solid #000;padding:1px;">
            <div class="border-right p-1 border-secondary" style="width:240px;">
                {{ov.orderID}}
            </div>
            <div class="border-right border-secondary text-center p-1" style="width:160px;">
                {{ov.cusname}}
            </div>
            <div class="border-right border-secondary" style="width:390px;"></div>
            <div class="p-1 text-center border-right border-secondary" style="width:240px;">
                {{ov.ship}}<span style="padding-left:20px;">運費:{{ov.shipprice}}</span>
            </div>
            <div class="p-1 text-center oprice" style="width:170px;background-color: #eee;">
                發票:{{ov.oprice}}
            </div>
        </div>
        <div v-for="(pv,pindex) in allorder[oindex].products" class="border-bottom border-secondary d-flex" style="font-weight: bold; padding:1px;color:#555;">
            <div class="border-right p-1 text-left" style="width:240px">{{pv.iso}}</div>
            <div class="border-right p-1 text-center" style="width:40px">{{pv.pcount}}</div>
            <div class="border-right p-1 text-left" style="width:610px">{{pv.pname}}</div>
            <div class="border-right p-1 text-left" style="width:205px">{{pv.ptype}}</div>
            <div class="border-right p-1 text-center" style="width:40px">{{pv.pcount}}</div>
            <div class="text-center p-1" style="width:65px">{{pv.pprice}}</div>
        </div>

    </div>
</div>


<footer>
    <script src="printOrder.js"></script>
</footer>
